/*Color Schemes: Vintage Charm- #CDA34F,#E9E7DA,#636B46,#373F27
                 Simple and Fresh- #414141,#CCDFCB,#FF6A5C,#0565
*/
/*
Styles for View
*/

/*#tBar{
      -fx-text-background-color:#636B46;
}*/

#passButton {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #CDA34F 0%, #846d3f 100%),
        #cd904f,
        #c48b4e,
        radial-gradient(center 50% 50%, radius 100%, #CDA34F, #E9E7DA);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-family: "Britannic Bold";
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
#passButton:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #ba9346 0%, #776238 100%),
        #af8734,
        #CDA34F,
        radial-gradient(center 50% 50%, radius 100%, #af8734, #CDA34F);
}
#passButton:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#passButton Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

#gridPane{
    -fx-background-color:#373F27;
    -fx-border-color:#E9E7DA;
    -fx-border-width:10;

}

.tool-bar {
    -fx-base: -dark-black;
    -fx-font-size: 12pt;
    -fx-background-color:#636B46;
    /*-fx-spacing:50;*/
/*    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-base,-30%), derive(-fx-base,-60%)),
        linear-gradient(to bottom, -light-black 2%, -dark-black 98%);*/
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: .9em 0.416667em .9em 0.416667em;
    -fx-effect: dropshadow(two-pass-box,black,5,.2,0,0);
}

#scPane{
    -fx-text-background-color:#E9E7DA;
}

#textDisplayTBar{
    -fx-font-size: 16pt;
    -fx-text-background-color:#E9E7DA;
    -fx-font-family: "Britannic Bold";
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.0) , 4,0,0,1 );
}

#viewTitle{
    -fx-font-size: 30pt;
    -fx-text-background-color:#E9E7DA;
    -fx-font-family: "Britannic Bold";
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.0) , 4,0,0,1 );
    /*-fx-effect: dropshadow(two-pass-box,black,5,.2,0,0);*/
}

#currentPlayerLabel{
    -fx-font-size: 16pt;
    -fx-text-background-color:#E9E7DA;
    -fx-font-family: "Britannic Bold";
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.0) , 4,0,0,1 );
}

/*
Styles for Menu
*/
#openLobbyButton{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 6 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #CDA34F 0%, #846d3f 100%),
        #cd904f,
        #c48b4e,
        radial-gradient(center 50% 50%, radius 100%, #CDA34F, #E9E7DA);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.0) , 4,0,0,1 );
    -fx-font-family: "Britannic Bold";
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

#openLobbyButton:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #ba9346 0%, #776238 100%),
        #af8734,
        #CDA34F,
        radial-gradient(center 50% 50%, radius 100%, #af8734, #CDA34F);
}
#openLobbyButton:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#openLobbyButton Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

#vBoxMenu{
    -fx-background-color:#373F27;
    -fx-border-color:#E9E7DA;
    -fx-border-width:10;
}

.radio-button{
    -fx-text-fill:#E9E7DA;
    -fx-font-family: "Britannic Bold";
}

.radio-button .radio {
    -fx-border-width: 2px;
    -fx-border-color: #000;
    -fx-background-color: #636B46;
    -fx-border-radius: 50px;
    -fx-padding: 4px;
}
.radio-button .radio:selected {
    -fx-background-color: #E9E7DA;
}
.radio-button -radio:armed {
    -fx-background-color: #E9E7DA;

}
/*.radio-button -radio:determinate {
    -fx-background-color: #E9E7DA;
}
.radio-button -radio:indeterminate {
    -fx-background-color: #E9E7DA;
}*/
.radio-button .dot {
    -fx-border-radius: 50px;
    -fx-padding: 4px;
    -fx-mark-highlight-color:#E9E7DA;
    -fx-mark-color:#E9E7DA;
} 


/*
Styles for ServerMenu
*/
#hstButton{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 6 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #CDA34F 0%, #846d3f 100%),
        #cd904f,
        #c48b4e,
        radial-gradient(center 50% 50%, radius 100%, #CDA34F, #E9E7DA);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.0) , 4,0,0,1 );
    -fx-font-family: "Britannic Bold";
    -fx-font-size: 1.1em;
    -fx-text-fill:#000000;
}

#hstButton:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #ba9346 0%, #776238 100%),
        #af8734,
        #CDA34F,
        radial-gradient(center 50% 50%, radius 100%, #af8734, #CDA34F);
}
#hstButton:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#hstButton Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

#titleLabel{
    -fx-font-size: 18pt;
    -fx-text-background-color:#E9E7DA;
    -fx-underline:true;
    -fx-font-family: "Britannic Bold";
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.0) , 4,0,0,1 );
    /*-fx-padding-bottom:10;*/
}

#ipInput{
/*    -fx-background-color: -fx-text-box-border, -fx-background ;
*/    
    -fx-background-color: #E9E7DA, #636B46 ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
    -fx-text-background-color:#E9E7DA;
    -fx-text-fill:#E9E7DA ;
    -fx-font-family: "Britannic Bold";

}

#ipInput:focused {
    /*-fx-background-color: -fx-focus-color, -fx-background ;*/
    -fx-background-color:#E9E7DA, #636B46;
    -fx-text-fill:#E9E7DA ;
    -fx-font-family: "Britannic Bold";
}

#joinButton{
    -fx-padding: 6 13 13 13;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 6 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #CDA34F 0%, #846d3f 100%),
        #cd904f,
        #c48b4e,
        radial-gradient(center 50% 50%, radius 100%, #CDA34F, #E9E7DA);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.0) , 4,0,0,1 );
    -fx-font-family: "Britannic Bold";
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

#joinButton:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #ba9346 0%, #776238 100%),
        #af8734,
        #CDA34F,
        radial-gradient(center 50% 50%, radius 100%, #af8734, #CDA34F);
}
#joinButton:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#joinButton Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

#serverMenuVBox{
    -fx-background-color:#373F27;
    -fx-border-color:#E9E7DA;
    -fx-border-width:10;
}

/*
Styles for JoinLobby and HostLobby
*/

/*For all back buttons*/

#backButton{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 6 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #CDA34F 0%, #846d3f 100%),
        #cd904f,
        #c48b4e,
        radial-gradient(center 50% 50%, radius 100%, #CDA34F, #E9E7DA);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.0) , 4,0,0,1 );
    -fx-font-family: "Britannic Bold";
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

#backButton:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #ba9346 0%, #776238 100%),
        #af8734,
        #CDA34F,
        radial-gradient(center 50% 50%, radius 100%, #af8734, #CDA34F);
}
#backButton:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#backButton Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}



/*for tables in both join and host*/
#playerTable{

}

/*for anchor container in host and join*/
#anchor{
    -fx-background-color:#373F27;
    -fx-border-color:#E9E7DA;
    -fx-border-width:10;
}

#lobbyTitle{
    -fx-font-size: 17pt;
    -fx-text-background-color:#E9E7DA;
    -fx-underline:true;
    -fx-font-family: "Britannic Bold";
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.0) , 4,0,0,1 );
}

/*
Styles for HostLobby
*/


#startButton{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 6 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #CDA34F 0%, #846d3f 100%),
        #cd904f,
        #c48b4e,
        radial-gradient(center 50% 50%, radius 100%, #CDA34F, #E9E7DA);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.0) , 4,0,0,1 );
    -fx-font-family: "Britannic Bold";
    -fx-font-weight: bold;
    -fx-font-size: 1.05em;
}

#startButton:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #ba9346 0%, #776238 100%),
        #af8734,
        #CDA34F,
        radial-gradient(center 50% 50%, radius 100%, #af8734, #CDA34F);
}
#startButton:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#startButton Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
   /*-fx-background-color: linear-gradient(#131313 0%, #424141 100%);*/
   -fx-background-color: linear-gradient(#636B46 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #E9E7DA;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #373F27;
    -fx-font-family: "Britannic Bold";
    -fx-font-size: 1.1em;
}

.table-row-cell{
	/* #616161*/
    -fx-background-color: -fx-table-cell-border-color, #E9E7DA;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #CDA34F;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #636B46;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

/*.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}*/

@keyframes monkey {
    0% { background-position: 0 0; }
    50% { background-position: 0 -100px; }
}


